* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  height: 100%;
  background: url("./Frame 5.png") center/cover no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container form {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container form #eventA-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}
.container form h2 {
  text-align: center;
  font-size: 2rem;
}
.container form .poster-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  gap: 20px;
}
.container form .poster-row .poster {
  text-align: center;
}
.container form .poster-row .poster label {
  display: block;
}
.container form input[type=text],
.container form input[type=email] {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding: 4px;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}
.container form input[type=text]:focus,
.container form input[type=email]:focus {
  outline: none;
}
.container form button[type=submit] {
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #fff;
  transition: all 0.3s;
  cursor: pointer;
}
.container form button[type=submit]:hover {
  background: #000;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .container form {
    width: 100%;
  }
  .container form #eventA-close {
    top: 60px;
  }
  .container form h2 {
    font-size: 1.4rem;
  }
  .container form .poster-row {
    flex-direction: column;
  }
}